<div class="staggers pattern-noise">
  <div class="container">

    <div class="stagger-graphicbox row">
      <div class="graphicbox col-sm-4">
        <i class="fa fa-rss"></i>
      </div>
      <div class="description col-sm-7 col-sm-push-1">
        <h3 class="matching-color">Broadcast Reliably.</h3>
        <p>Whether you're streaming a birthday or celebration from your
        phone, hosting the Olympics, or running a pay-per-view event,
        swirl has you covered. Its new, non-proprietary live streaming
        server &amp clients provide world-class reliability,
        using the legendary availability and low latency performance
        built into the <a href="http://erlang.org/">Erlang/OTP</a>
        platform.</p>
      </div>
    </div> <!-- /.stagger-graphicbox -->

    <div class="stagger-graphicbox row">
      <div class="graphicbox col-sm-4 col-sm-push-8">
        <i class="fa fa-clock-o"></i>
      </div>
      <div class="description col-sm-7 col-sm-pull-4">
        <h3 class="matching-color">Start streaming now &mdash; or later.</h3>
        <p>Be first with the news. No need to wait for a broadcast or event
        to end, swirl lets you stream the moment you have the first frames
        on camera.  But if you're late to the party, don't worry, you
        won't have missed a thing. Swirl is ready to kick off when you
        are &mdash; just pick up where you left off, on any device.</p>
      </div>
    </div> <!-- /.stagger-graphicbox -->

    <div class="stagger-graphicbox row">
      <div class="graphicbox col-sm-4">
        <i class="fa fa-undo"></i>
      </div>
      <div class="description col-sm-7 col-sm-push-1">
        <h3 class="matching-color">Open &amp; standard.</h3>
        <p>Unlike all those other tools, Swirl is both
        <a href="{{ .Site.Params.github }}">open source</a> and
        <a href="{{ .Site.Params.github }}/issues">open development</a>,
        built on an open standard, with peer-to-peer scalability and
        fault-tolerance baked in from the beginning.</p>
        <p>The application is based on the 
          <a href="https://datatracker.ietf.org/doc/rfc7574/">
           IETF RFC7574 Peer-to-Peer Streaming Peer Protocol</a>, known as
           <em>PPSP</em> normally. The protocol includes innovative
           features for fast streaming, security and performance, and is
           compatible with current network infrastructure without
           rearchitecting or forklift upgrades.
        </p>
      </div>
    </div> <!-- /.stagger-graphicbox -->

  </div> <!-- /.container -->
</div> <!-- /.staggers -->



