<div class="contributing inverse pattern-noise">
  <div class="container">

    <h2 id="contributing">Contributing to the Swirl Project.</h2>

    <div class="introduction">
      <br/>
      <p><a href="http://www.swirl-project.org/">Swirl</a>
      is an open source, and open development project in its
      infancy. As yet, few firm decisions have been made, other than the
      license, and using Erlang for the core server application.
      It's a great time to join in and make a significant contribution.
      The protocol itself has a number of very interesting features for
      coding and development &mdash;
      <a href="https://www.cdc.informatik.tu-darmstadt.de/reports/reports/BDKOV07.pdf">
        merkle hash trees</a>,
      <a href="http://www.pds.ewi.tudelft.nl/fileadmin/pds/reports/2011/PDS-2011-005.pdf">
        binmaps</a>, optimised data transfer methods such as
      <a href="https://datatracker.ietf.org/doc/rfc6817/">LEDBAT</a> and more.
      But most of all, we are looking to grow a Community!</p>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h4>Where is the Source?</h4>
        <p>All the code is available on
        <a href="https://github.com/skunkwerks/swirl">GitHub</a>,
        including issues. For discussions, please use the mailing list.
        </p>
      </div>
      <div class="col-sm-6">
        <h4>Is there a mailing list for the project?</h4>
        <p>Certainly: <a href="mailto:swirl@librelist.com">
        swirl@librelist.com</a>. Also of interest is the
        <a href="http://www.ietf.org/mail-archive/web/ppsp/current/maillist.html">
          IETF working group</a> mailing list.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h4>Is there an IRC channel?</h4>
        <p>Of course: check in on freenode's
        <a href="irc://irc.freenode.net/swirlproject"> #swirlproject</a> IRC
        channel. It's pretty quiet outside daytime in Europe though.</p>
      </div>
      <div class="col-sm-6">
        <h4>Where's the Documentation?</h4>
        <p>The best source of information is still the
        <a href="http://datatracker.ietf.org/doc/draft-ietf-ppsp-peer-protocol/">
          IETF draft</a>, with the source code as well. Both are changing
      frequently. The latest project documentation is available in the
        <a href="https://github.com/skunkwerks/swirl/blob/develop/doc/content/overview.md">
        source repository</a>, and a prettier but not current version is on the
        <a href="http://www.swirl-project.org/content">website</a>.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h4>What License is Swirl released under?</h4>
        <p>Like most Erlang projects, <a href="http://www.swirl-project.org/">Swirl</a>
        is released under the well-known and commercially friendly
        <a href="https://www.apache.org/licenses/LICENSE-2.0.html">
        Apache v2 License</a> and includes a number of
        <a href="https://github.com/skunkwerks/swirl/blob/develop/NOTICE.md">
        amazing 3rd party components</a>, without which this project wouldn't be
        the same.</p>
      </div>
      <div class="col-sm-6">
        <h4>Are you on the social media?</h4>
        <p>I assume you mean if we tweet. On the odd occasion, yes.
        Follow along at the
        <a href="https://twitter.com/swirl_project">@swirl_project</a>.
        </p>
      </div>
    </div>

  </div> <!-- /.container -->
</div> <!-- /.contributing -->

