<div class="footer-simple inverse pattern-noise">
   <div class="container">

     <h2 class="logo logo-small"><a href="{{ .Site.BaseURL }}/">Swirl</a></h2>
     <p class="legal">
       &copy; 2014-2038 <a href="http://skunkwerks.at/">SkunkWerks GmbH</a>.
     </p>

   </div> <!-- /.container -->
 </div> <!-- /.footer-simple -->


 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
 <!-- Local path: assets/js/jquery.min.js -->

 <!-- Bootstrap JavaScript plugins -->
 <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
 <!-- Local path: assets/js/bootstrap.min.js -->

 <!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
 <!--[if lt IE 9]>
 <script src="assets/js/respond.min.js"></script>
 <![endif]-->
</body>
</html>
