<div class="headline-summary inverse pattern-noise merge-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 ">

        <h1 class="headline">
          <em>Bringing Peer-to-Peer<br>
          Streaming to the World.</em>
        </h1>
        <h4 class="summary">
          <em class="matching-color">
          Making sharing and streaming as easy as taking a picture.</em>
        </h4>

      </div> <!-- /.col-x -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div> <!-- /.headline-summary -->

<div class="logo-graphicbox inverse pattern-noise">
  <div class="container">
    <div class="row">

      <div class="graphicbox inverse col-sm-8 col-sm-offset-2">
        <h1 class="logo">
          <a href="{{ .Site.BaseURL }}/">Swirl Project</a></h1>
        <h4 class="tagline"><em>Static &amp; live stream content for
        everybody &mdash; anywhere, any time, any device.</em></h4>

      </div> <!-- /.graphicbox -->

    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div> <!-- /.logo-graphicbox -->

