%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
% Licensed under the Apache License, Version 2.0 (the "License"); you may not
% use this file except in compliance with the License. You may obtain a copy of
% the License at
%
%   http://www.apache.org/licenses/LICENSE-2.0
%
% Unless required by applicable law or agreed to in writing, software
% distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
% WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
% License for the specific language governing permissions and limitations under
% the License.

%% compilation 

{require_otp_vsn, "R16B03|R17"}.
{erl_opts, [
            verbose,
            debug_info,
            %% bin_opt_info,
            warn_format,
            warn_export_all,
            warn_export_vars,
            warn_obsolete_guard,
            warn_unused_import,
            warn_bif_clash,
            %% warn_missing_spec,
            warn_untyped_record]}.

%% escriptize
{escript_emu_args,
            "%%! -setcookie swirl -sname swirl"
            " -s crypto"
            " +K true"
            " -config ./swirl.config"
            "\n"}.
